$left-margin: 25%;
$right-margin: 25%;
$font-type: 'Roboto', sans-serif;

.index-header {
  font-family: $font-type;
  font-size: 20px;
  align-items: center;
  align-content: center;
  margin-left: $left-margin;
  margin-right: $right-margin;
  padding: 0%;
}

span + span {
  margin-left: 40px;
}

.index-title {
  font-size: 45px;
}

.index-post-title {
  font-size: 35px;
}

.index-post-date {
  margin-top: 6px;
  color: #999;
  margin-bottom: 40px;
}

hr {
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  height: 1px;
  background-color: rgba(136, 136, 136, 0.26);
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
  
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
  
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.content {
  font-family: $font-type;
  margin-left: $left-margin;
  margin-right: $right-margin;
}